name: provision 

on:
  push:
    branches:
      - 'main'
      - 'dev'
      - 'prod'

  workflow_dispatch:

jobs: 
  deploy: 
    runs-on: ubuntu-latest

    env: 
      AWS_REGION: eu-west-3

    steps:
      - name: Checkout code from master branch 
        uses: actions/checkout@v2

      - name: Configure AWS Credentials 
        uses: aws-actions/configure-aws-credentials@v1 
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Put branch_env
        run: |
          if ${{ github.ref == 'refs/heads/dev' }} then
            echo "branch_env=dev" >> $GITHUB_ENV
          elif ${{ github.ref == 'refs/heads/main' }} then
            echo "branch_env=main" >> $GITHUB_ENV
          elif ${{ github.ref == 'refs/heads/prod' }} then
            echo "branch_env=prod" >> $GITHUB_ENV

      - name: Provision database
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: database-cloudformation
          template: database-cloudformation.yml
          no-fail-on-empty-changeset: "1"
          parameter-overrides:
            "DBAllocatedStorage=5 , 
            Env=${{ env.branch_env }}"